.scroll-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Adjust as needed */
}

.scroll-to-top-button {
  font-size: 22px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #171818; 
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #FF324D;
  }
}

.scroll-to-top-button:focus {
  outline: none;
}
