@import "../Components/Popuppage/Popup";
@import "../Components/Header/Header";
@import "../Components/Navbar/NavBar";
@import "../Components/Footer/Footer";
@import "../Components/Subscribe/Subscribe";
@import "../Components/Services/Services";
@import "../Components/Slider/Myslider";
@import "../Components/Feedbackslide/Feedback";
@import "../Components/BestSummer/BestSummer";
@import "../Components/Newsall/NewSall";
@import "../Components/Exclusiveproducts/Exclusiveproducts";
@import "../Components/Featuredproducts/Featuredproducts";
@import "../Components/Breadcrumbs/Breadcrumbs";

@import "../Pages/Login/Login";
@import "../Pages/Register/Register";
@import "../Pages/SingleProduct/Singleproduct";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}
.row{
  padding-inline: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  position: relative;
  width: 150px;
  height: 50px;
  color:#e8e1e2;
  border: 1px solid #ff324d; 
  background-color: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  transition: 0.6s ease-in-out;
  overflow: hidden;


  &:hover::before{
    left: -200px;
  }
  &:hover::after{
    right: -200px;
  }
  &:hover{
    color: #ff324d;
  }
}
.btn::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 50px;
  background-color: #ff324d;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.6s ease-in-out;
}
.btn::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 50px;
  background-color: #ff324d;
  right: 0;
  top: 0;
  z-index: -1;
  transition: 0.6s ease-in-out;
}